{% extends 'base/base.html' %}

{% block content_card %}

    <h2 class="pt-4">Avistamientos</h2>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-2">
            <button class="crear-colaborador btn btn-primary float-right" type="button" name="button" data-toggle="modal" data-backdrop="static" data-keyboard="false">Crear Avistamiento</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Fecha Avistamiento</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Animal</th>
                    <th scope="col">Comentario</th>
                </tr>
            </thead>
            <tbody>
            {% for colaborador in object_list %}
                <tr>
                    <td>{{ colaborador.fecha_avistamiento }}</td>
                    <td>{{ colaborador.cantidad }}</td>
                    <td>{{ colaborador.animal_fk }}</td>
                    <td>{{ colaborador.comentario }}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="update-colaborador btn btn-sm btn-primary" data-id="{% url 'core:actualizarAvistamiento' colaborador.id %}">
                                <span class="fa fa-edit"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalLong">Abrir Reporte</a>
                                <a class="dropdown-item" href="#">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block add_js %}
  <script type="text/javascript">
    $(function () {
      // Create book button

      $(".crear-colaborador").modalForm({formURL: "{% url 'core:crearAvistamiento' %}"});
        
      $(".update-colaborador").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

    });
  </script>
{% endblock %}